.button-red-primary-container {
  display: flex;
  position: relative;
}
.button-red-primary-button {
  color: #000000;
  display: flex;
  outline: none;
  background: linear-gradient(270deg, rgb(153, 46, 46) 0.00%,rgba(255, 5, 5, 0.92) 100.00%);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.button-red-primary-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

@media(max-width: 479px) {
  .button-red-primary-root-class-name {
    display: none;
  }
}

.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
}
.header-container {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-link {
  color: #ffffff;
  font-weight: 600;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.header-link01 {
  color: #d0d0d0;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-link01:focus {
  color: #d0d0d0;
}
.header-link01:active {
  color: var(--dl-color-gray-white);
}
.header-link02 {
  color: #d0d0d0;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-link02:focus {
  color: #d0d0d0;
}
.header-link02:active {
  color: var(--dl-color-gray-white);
}
.header-link03 {
  color: #d0d0d0;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-link03:hover {
  color: var(--dl-color-gray-500);
}
.header-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-link04 {
  display: contents;
}
.header-component {
  text-decoration: none;
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.header-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-link05 {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}
.header-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-icon2 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.header-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-link06 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-link06:hover {
  color: var(--dl-color-gray-500);
}
.header-link07 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-link07:hover {
  color: var(--dl-color-gray-500);
}
.header-link08 {
  color: var(--dl-color-gray-800);
  transition: 0.3s;
  text-decoration: none;
}
.header-link08:hover {
  color: var(--dl-color-gray-500);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.header-link09 {
  display: contents;
}
.header-component1 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .header-nav {
    max-width: 960px;
  }
  .header-menu {
    display: none;
  }
  .header-burger-menu {
    display: none;
  }
  .header-link06 {
    color: #ffffff;
  }
  .header-link07 {
    color: #ffffff;
  }
  .header-link08 {
    color: #ffffff;
  }
}
@media(max-width: 767px) {
  .header-menu {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon {
    fill: #ffffff;
  }
  .header-mobile-menu {
    display: none;
  }
  .header-link05 {
    color: #ffffff;
  }
  .header-icon2 {
    fill: #ffffff;
  }
  .header-link06 {
    color: var(--dl-color-gray-800);
  }
  .header-link07 {
    color: var(--dl-color-gray-800);
  }
  .header-link08 {
    color: var(--dl-color-gray-800);
  }
}
@media(max-width: 479px) {
  .header-menu {
    display: none;
  }
  .header-mobile-menu {
    display: none;
    border-color: var(--dl-color-secondary-400);
    border-width: 1px;
  }
  .header-link05 {
    color: #ffffff;
    font-weight: 700;
  }
  .header-icon2 {
    fill: #ffffff;
  }
  .header-link06 {
    color: var(--dl-color-gray-800);
  }
  .header-link07 {
    color: var(--dl-color-gray-800);
  }
  .header-link08 {
    color: var(--dl-color-gray-800);
  }
}

.button-blue-outline-container {
  display: flex;
  position: relative;
}
.button-blue-outline-button {
  color: var(--dl-color-blue-500);
  cursor: pointer;
  background: white;
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-blue-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.button-blue-outline-button:hover {
  transform: scale(1.02);
}
.button-blue-outline-root-class-name {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name1 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name3 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name4 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name5 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name6 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name7 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name8 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name9 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name10 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name11 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name12 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name13 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name14 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name15 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name16 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name17 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name2 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name18 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name19 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name20 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name21 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
@media(max-width: 479px) {
  .button-blue-outline-root-class-name1 {
    display: none;
    opacity: 0;
  }
  .button-blue-outline-root-class-name18 {
    opacity: 1;
  }
}

.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
.footer-divider {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 1px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.4),transparent);
}
.footer-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  position: relative;
  max-width: 1320px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000000;
}
.footer-container1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-image: linear-gradient(180deg, rgb(32, 32, 32) 0.00%,rgba(255, 5, 5, 0.92) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-text01 {
  color: #AAAAAA;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text03 {
  font-weight: 700;
  text-decoration: none;
}
.footer-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-link1 {
  display: contents;
}
.footer-image {
  width: 16px;
  height: 17px;
  opacity: 0.75;
  object-fit: cover;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  list-style-type: disc;
  text-decoration: none;
  list-style-image: none;
  list-style-position: outside;
}
.footer-image:hover {
  opacity: 1;
}
.footer-link2 {
  display: contents;
}
.footer-icon {
  fill: #ffffff;
  width: 16px;
  opacity: 0.75;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  list-style-type: disc;
  text-decoration: none;
  list-style-image: none;
  list-style-position: outside;
}
.footer-icon:hover {
  opacity: 1;
}
.footer-link3 {
  display: contents;
}
.footer-icon2 {
  fill: #ffffff;
  width: 16px;
  opacity: 0.75;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-icon2:hover {
  opacity: 1;
}
.footer-link4 {
  display: contents;
}
.footer-icon4 {
  fill: #ffffff;
  width: 16px;
  opacity: 0.75;
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-icon4:hover {
  opacity: 1;
}
.footer-container4 {
  display: flex;
  justify-content: space-between;
}
.footer-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  flex-direction: column;
}
.footer-text04 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(180deg, rgb(32, 32, 32) 0.00%,rgba(255, 5, 5, 0.92) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-link5 {
  color: #AAAAAA;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link5:hover {
  color: #ffffff;
}
.footer-link6 {
  color: #AAAAAA;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link6:hover {
  color: #ffffff;
}
.footer-text05 {
  color: #AAAAAA;
  opacity: 0;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text05:hover {
  color: #ffffff;
}
.footer-text06 {
  color: #AAAAAA;
  opacity: 0;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text06:hover {
  color: #ffffff;
}
.footer-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-text07 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(180deg, rgb(32, 32, 32) 0.00%,rgba(255, 5, 5, 0.92) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-link7 {
  color: #AAAAAA;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link7:hover {
  color: #ffffff;
}
.footer-container7 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-text08 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(180deg, rgb(32, 32, 32) 0.00%,rgba(255, 5, 5, 0.92) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-link8 {
  color: #AAAAAA;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.footer-link8:hover {
  color: #ffffff;
}
.footer-text09 {
  color: #AAAAAA;
  opacity: 0;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text09:hover {
  color: #ffffff;
}
.footer-text10 {
  color: #AAAAAA;
  opacity: 0;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text10:hover {
  color: #ffffff;
}
.footer-container8 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.footer-text11 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(180deg, rgb(32, 32, 32) 0.00%,rgba(255, 5, 5, 0.92) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-text12 {
  color: #AAAAAA;
  opacity: 0;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text12:hover {
  color: #ffffff;
}
.footer-text13 {
  color: #AAAAAA;
  opacity: 0;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text13:hover {
  color: #ffffff;
}
.footer-text14 {
  color: #AAAAAA;
  opacity: 0;
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text14:hover {
  color: #ffffff;
}
.footer-text15 {
  color: #aaaaaa;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
}

.footer-text18 {
  color: #ffffff;
}
.footer-text20 {
  color: #ffffff;
}
.footer-root-class-name {
  background-color: var(--dl-color-gray-black);
}

.footer-root-class-name2 {
  background-color: var(--dl-color-gray-black);
}


@media(max-width: 991px) {
  .footer-container {
    padding: var(--dl-space-space-doubleunit);
  }
  .footer-container6 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .footer-container7 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .footer-container8 {
    margin-left: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .footer-container1 {
    flex-direction: column;
  }
  .footer-container2 {
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container4 {
    flex-wrap: wrap;
  }
  .footer-container5 {
    width: 50%;
    margin-left: 0px;
  }
  .footer-container6 {
    width: 50%;
    margin-left: 0px;
  }
  .footer-container7 {
    width: 50%;
    margin-left: 0px;
  }
  .footer-container8 {
    width: 50%;
    margin-left: 0px;
  }
}

.walter-clements-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.walter-clements-container01 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.walter-clements-main {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
  position: relative;
  max-width: 1320px;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-end;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-end;
}
.walter-clements-grid {
  top: -20%;
  left: -35%;
  width: 70%;
  display: grid;
  grid-gap: var(--dl-space-space-doubleunit);
  position: absolute;
  transform: rotate(20deg);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.walter-clements-fire-truck-img {
  width: 100%;
}
.walter-clements-fire-truck-img1 {
  width: 100%;
  margin-top: -200px;
}
.walter-clements-blank4 {
  width: 100%;
  margin-top: -50px;
}
.walter-clements-jokes-img {
  width: 100%;
}
.walter-clements-fire-truck-img2 {
  width: 100%;
}
.walter-clements-blank41 {
  width: 100%;
  margin-top: -200px;
}
.walter-clements-jokes-img1 {
  width: 100%;
  margin-top: -50px;
}
.walter-clements-blank3 {
  width: 100%;
}
.walter-clements-fire-truck-img3 {
  width: 100%;
}
.walter-clements-blank42 {
  width: 100%;
  margin-top: -200px;
}
.walter-clements-jokes-img2 {
  width: 100%;
  margin-top: -50px;
}
.walter-clements-blank31 {
  width: 100%;
}
.walter-clements-container02 {
  flex: 0 0 auto;
  width: 614px;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.walter-clements-container03 {
  flex: 0 0 auto;
  width: 614px;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.walter-clements-container04 {
  top: 141px;
  right: 8px;
  width: 614px;
  display: flex;
  z-index: 2;
  position: absolute;
  align-self: flex-end;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.walter-clements-text {
  color: #0659ff;
  font-size: 3rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(0deg, rgb(94, 163, 255) 33.00%,rgb(0, 252, 255) 78.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.walter-clements-heading {
  color: #4fe0fd;
  width: 615px;
  font-size: 1.5rem;
  align-self: flex-start;
  text-align: center;
  line-height: 1;
  margin-bottom: var(--dl-space-space-halfunit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.walter-clements-text01 {
  color: #ffffff;
  width: 614px;
  font-size: 1rem;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  background-size: cover;
  text-decoration: none;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.walter-clements-text02 {
  display: inline;
  white-space: normal;
}
.walter-clements-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.walter-clements-link {
  display: contents;
}
.walter-clements-component01 {
  text-decoration: none;
}
.walter-clements-link1 {
  display: contents;
}
.walter-clements-component02 {
  text-decoration: none;
}
.walter-clements-link2 {
  display: contents;
}
.walter-clements-component03 {
  text-decoration: none;
}
.walter-clements-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  justify-content: center;
}
.walter-clements-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.walter-clements-link3 {
  display: contents;
}
.walter-clements-component05 {
  text-decoration: none;
}
.walter-clements-steps {
  width: 100%;
  display: none;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 48px;
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.walter-clements-text03 {
  color: #0659ff;
  font-size: 3rem;
  align-self: center;
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(0deg, rgb(94, 163, 255) 33.00%,rgb(0, 252, 255) 78.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.walter-clements-text04 {
  color: #ffffff;
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.walter-clements-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.walter-clements-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.walter-clements-link4 {
  display: contents;
}
.walter-clements-component06 {
  text-decoration: none;
}
.walter-clements-link5 {
  display: contents;
}
.walter-clements-component07 {
  text-decoration: none;
}
.walter-clements-link6 {
  display: contents;
}
.walter-clements-component08 {
  text-decoration: none;
}
.walter-clements-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  justify-content: center;
}
.walter-clements-link7 {
  display: contents;
}
.walter-clements-component10 {
  text-decoration: none;
}
.walter-clements-container11 {
  width: 100%;
  height: 4px;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dotted;
  border-width: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  background-color: var(--dl-color-blue-500);
}
.walter-clements-container12 {
  width: 100%;
  height: 667px;
  display: flex;
  padding: 48px;
  position: relative;
  max-width: 1400px;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.walter-clements-card {
  width: 456px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: 3rem;
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(47, 47, 47, 0.8);
}
.walter-clements-text06 {
  color: var(--dl-color-primary-700);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(0deg, rgb(94, 163, 255) 33.00%,rgb(0, 252, 255) 78.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.walter-clements-text08 {
  color: #ffffff;
  text-align: center;
}
.walter-clements-card1 {
  width: 456px;
  height: 460px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  position: relative;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  align-items: center;
  margin-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius1);
  padding-right: 3rem;
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(47, 47, 47, 0.8);
}
.walter-clements-text16 {
  color: var(--dl-color-primary-700);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(0deg, rgb(94, 163, 255) 33.00%,rgb(0, 252, 255) 78.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.walter-clements-text18 {
  color: #ffffff;
  text-align: center;
}
@media(max-width: 991px) {
  .walter-clements-container01 {
    display: none;
    background-size: auto;
  }
  .walter-clements-main {
    justify-content: flex-start;
  }
  .walter-clements-grid {
    top: 40%;
    left: auto;
    right: -6rem;
    bottom: -6rem;
  }
  .walter-clements-fire-truck-img {
    width: 120px;
  }
  .walter-clements-fire-truck-img1 {
    width: 120px;
  }
  .walter-clements-blank4 {
    width: 120px;
  }
  .walter-clements-jokes-img {
    width: 120px;
  }
  .walter-clements-fire-truck-img2 {
    width: 120px;
  }
  .walter-clements-blank41 {
    width: 120px;
  }
  .walter-clements-jokes-img1 {
    width: 120px;
  }
  .walter-clements-blank3 {
    width: 120px;
  }
  .walter-clements-fire-truck-img3 {
    width: 120px;
  }
  .walter-clements-blank42 {
    width: 120px;
  }
  .walter-clements-jokes-img2 {
    width: 120px;
  }
  .walter-clements-blank31 {
    width: 120px;
  }
  .walter-clements-container04 {
    top: 66px;
    left: 49px;
    width: 70%;
    margin: auto;
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-tripleunit);
  }
  .walter-clements-steps {
    display: flex;
    padding: var(--dl-space-space-twelveunits);
  }
  .walter-clements-text04 {
    text-align: center;
  }
  .walter-clements-container11 {
    background-size: auto;
  }
  .walter-clements-container12 {
    align-items: flex-start;
    flex-direction: row;
  }
  .walter-clements-card {
    width: 408px;
    height: 522px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .walter-clements-text08 {
    color: #ffffff;
    text-align: center;
  }
  .walter-clements-card1 {
    width: 408px;
    height: 522px;
    margin-top: 0px;
    margin-left: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .walter-clements-text18 {
    color: #ffffff;
    text-align: center;
  }
}
@media(max-width: 767px) {
  .walter-clements-grid {
    right: 0;
  }
  .walter-clements-fire-truck-img {
    width: 100px;
  }
  .walter-clements-fire-truck-img1 {
    width: 100px;
  }
  .walter-clements-blank4 {
    width: 100px;
  }
  .walter-clements-jokes-img {
    width: 100px;
  }
  .walter-clements-fire-truck-img2 {
    width: 100px;
  }
  .walter-clements-blank41 {
    width: 100px;
  }
  .walter-clements-jokes-img1 {
    width: 100px;
  }
  .walter-clements-blank3 {
    width: 100px;
  }
  .walter-clements-fire-truck-img3 {
    width: 100px;
  }
  .walter-clements-blank42 {
    width: 100px;
  }
  .walter-clements-jokes-img2 {
    width: 100px;
  }
  .walter-clements-blank31 {
    width: 100px;
  }
  .walter-clements-container04 {
    top: 52px;
    left: 0px;
    right: 0px;
    width: auto;
    margin: auto;
    align-items: center;
  }
  .walter-clements-text {
    border-color: var(--dl-color-secondary-400);
    border-width: 0px;
  }
  .walter-clements-heading {
    width: auto;
    align-self: center;
  }
  .walter-clements-text01 {
    width: auto;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
  }
  .walter-clements-steps {
    padding-top: var(--dl-space-space-twelveunits);
    padding-left: 32px;
    padding-right: 32px;
  }
  .walter-clements-text03 {
    border-color: var(--dl-color-secondary-400);
    border-width: 0px;
  }
  .walter-clements-container12 {
    height: 1010px;
    align-self: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
  }
  .walter-clements-card {
    width: 474px;
    height: 457px;
    margin-top: var(--dl-space-space-tripleunit);
    align-items: center;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .walter-clements-text08 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
  .walter-clements-card1 {
    width: 470px;
    height: 307px;
    align-items: center;
    margin-left: 0px;
  }
  .walter-clements-text18 {
    text-align: center;
    margin-right: 0px;
    padding-right: 0px;
  }
}
@media(max-width: 479px) {
  .walter-clements-grid {
    display: none;
  }
  .walter-clements-container04 {
    top: 172px;
    left: -11px;
    width: auto;
    height: 425px;
    margin: auto;
    margin-left: auto;
  }
  .walter-clements-heading {
    width: 389px;
  }
  .walter-clements-text01 {
    width: 431px;
    align-self: center;
  }
  .walter-clements-steps {
    padding-top: var(--dl-space-space-twelveunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twelveunits);
  }
  .walter-clements-text04 {
    font-size: 0.85rem;
  }
  .walter-clements-container12 {
    height: 798px;
    padding: 0px;
    margin-bottom: 43px;
  }
  .walter-clements-card {
    width: 383px;
    height: 425px;
    padding: var(--dl-space-space-unit);
  }
  .walter-clements-card1 {
    width: 388px;
    height: 233px;
    padding: var(--dl-space-space-unit);
  }
}
