.button-red-primary-container {
  display: flex;
  position: relative;
}
.button-red-primary-button {
  color: #000000;
  display: flex;
  outline: none;
  background: linear-gradient(270deg, rgb(153, 46, 46) 0.00%,rgba(255, 5, 5, 0.92) 100.00%);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.button-red-primary-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

@media(max-width: 479px) {
  .button-red-primary-root-class-name {
    display: none;
  }
}
