.button-blue-outline-container {
  display: flex;
  position: relative;
}
.button-blue-outline-button {
  color: var(--dl-color-blue-500);
  cursor: pointer;
  background: white;
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-blue-500);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.button-blue-outline-button:hover {
  transform: scale(1.02);
}
.button-blue-outline-root-class-name {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name1 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name3 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name4 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name5 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name6 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name7 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name8 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name9 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name10 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name11 {
  margin-right: var(--dl-space-space-unit);
}
.button-blue-outline-root-class-name12 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name13 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name14 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name15 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name16 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name17 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name2 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name18 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name19 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name20 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
.button-blue-outline-root-class-name21 {
  margin-right: var(--dl-space-space-unit);
  background-size: cover;
  background-image: url('https://cdn.swaggy.one/htmljunk/mainsite/css/images/bg.jpg');
}
@media(max-width: 479px) {
  .button-blue-outline-root-class-name1 {
    display: none;
    opacity: 0;
  }
  .button-blue-outline-root-class-name18 {
    opacity: 1;
  }
}
