.button-secondary-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.button-secondary-button {
  color: #cbcbcb;
  display: flex;
  outline: none;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgba(136, 0, 0, 0.92) 100.00%);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  transition: all .15s ease-in;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-triplequarterunit);
}
.button-secondary-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
